apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: my-demo-app-c39f076
  namespace: default
spec:
  replicas: 2
  template:
    metadata:
      labels:
        name: my-demo-app
        app: my-demo-app
        version: '63ee854'
    spec:
      containers:
      - name: my-demo-app
        image: ibuchh/cf-blue-green:63ee854
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
